# To use this file in zsh add this to .zshrc:
# source $HOME/.aliases
# To use this file in Bash add this to .bashrc
#if [ -f ~/.aliases ]; then
#    . ~/.aliases
#fi

# run source ~/.zshrc after making changes to save

# My Aliases

alias clean='rm -rf ~/.Trash/*; rm -rf ~/Downloads/*'
#alias journal="cd ~/Documents/Journal && vim $(date +%Y-%m-%d).md"
alias gensecret="openssl rand -hex 32"
# LOVE2D 
alias love="/Applications/love.app/Contents/MacOS/love"
# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Shortcuts
alias ch='history | grep "git commit"'
alias hg='history | grep'

# Yabai Aliases
alias startYabai="brew services start yabai"
alias stopYabai="brew services stop yabai"

#Koba DFU
alias dfu="astrisctl relay dfu 1"

#Take a screenshot
alias screenshot="camtool -a screenshot && mv /tmp/camtool_screenshot* ~/Desktop && echo \"\nScreenshots are now available at ~/Desktop\""

# Python Shortcuts

#alias python="python3"
#alias pip="pip3"


# Python VENV Shortcuts

# create venv
alias ve='python3 -m venv ./venv'
# Start venv to run virtual env
alias va='source ./venv/bin/activate'
# mkreq -Creates a requirements file from dependencies
alias mkreq="pip freeze > requirments.txt"
# usereq - uses an existing requirements file
alias usereq="pip install -r requirements.txt"
# usereqfrom {file} - uses a chosen file as a requirements file
alias usereqfrom="pip install -r "
# usekernel
alias usekernel="ipython kernel install --user --name=venv"

function venv() {

    REQ=requirements.txt

    [[ ! -z "$VIRTUAL_ENV" ]] && deactivate && return

    if [[ -d "venv" ]]; then
        echo "Using 'venv' as virtual environement.."
        source venv/bin/activate
    else
        python -m venv venv
        source venv/bin/activate
        echo "Created new virtual environement venv.."
        if [[ -f "$REQ" ]]; then
            read -p "Do you want to install requirements.xt?(y/n)" CHOICE
            if [[ "$CHOICE" == "y" ]]; then
                echo "Installing dependencies..."
                pip install -r "$REQ"
            fi
        fi
    fi
}

