# To use this file in zsh add this to .zshrc:
# source $HOME/.aliases
# To use this file in Bash add this to .bashrc
#if [ -f ~/.aliases ]; then
#    . ~/.aliases
#fi

# run source ~/.zshrc after making changes to save

# My Aliases

# Python Shortcuts

alias python="python3"
alias pip="pip3"


# Python VENV Shortcuts

# create venv
alias ve='python3 -m venv ./venv'
# Start venv to run virtual env
alias va='source ./venv/bin/activate'
# mkreq -Creates a requirements file from dependencies
alias mkreq="pip freeze > requirments.txt"
# usereq - uses an existing requirements file
alias usereq="pip install -r requirements.txt"
# usereqfrom {file} - uses a chosen file as a requirements file
alias usereqfrom="pip install -r "
# usekernel
alias usekernel="ipython kernel install --user --name=venv"

function venv() {

    REQ=requirements.txt

    [[ ! -z "$VIRTUAL_ENV" ]] && deactivate && return

    if [[ -d "venv" ]]; then
        echo "Using 'venv' as virtual environement.."
        source venv/bin/activate
    else
        python -m venv venv
        source venv/bin/activate
        echo "Created new virtual environement venv.."
        if [[ -f "$REQ" ]]; then
            read -p "Do you want to install requirements.xt?(y/n)" CHOICE
            if [[ "$CHOICE" == "y" ]]; then
                echo "Installing dependencies..."
                pip install -r "$REQ"
            fi
        fi
    fi
}


# To activate conda on zsh run:
# source /Users/my_username/opt/anaconda3/bin/activate
# conda init zsh
# conda list